[Unit]
Description=Rotate wallpapers every 10 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=10min
Unit=awww-rotate-once.service
Persistent=true
AccuracySec=1s

[Install]
WantedBy=timers.target
