* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMono NF", "monospace";
  font-weight: 500;
  font-size: 14px;
  padding: 0.3px 0;
}

window#waybar {
  background: #12100c;
}

button {
  box-shadow: none;
}

#workspaces button {
  padding: 0 5px;
  color: #504945;
  font-size: 16px;
}

#workspaces button.active {
  color: #b59e7d;
}

#workspaces button:hover {
  color: #fbf1c7;
  box-shadow: none;
  background: #362f25;
}

#battery,
#clock,
#cpu,
#mpris,
#memory,
#network,
#pulseaudio,
#tray,
#temperature,
#workspaces,
#custom-logo,
#custom-notify,
#custom-clock {
  color: #fbf1c7;
  padding: 3px 15px;
}

#custom-logo {
  font-size: 20px;
  color: #b59e7d;
  padding: 0 0 0 10px;
  margin-right: 0;
}

#custom-divider {
  font-size: 8px;
  color: #777;
}
